registry=https://pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/registry/
; begin auth token
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/registry/:username=SisproERP
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/registry/:_password=NWRxV1VFdzBoSlhTRFRUMVJwNHJoZjNXVFNnYUR5S0RoQUR4VHBGdGJtWklpMWJnUnU1dkpRUUo5OUJIQUNBQUFBQXR5Y1VGQUFBU0FaRE9jUlh0
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/:username=SisproERP
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/:_password=NWRxV1VFdzBoSlhTRFRUMVJwNHJoZjNXVFNnYUR5S0RoQUR4VHBGdGJtWklpMWJnUnU1dkpRUUo5OUJIQUNBQUFBQXR5Y1VGQUFBU0FaRE9jUlh0
//pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
always-auth=true