registry=https://pkgs.dev.azure.com/SisproERP/_packaging/InfraCodeLibs/npm/registry/:_authToken=5dqWUEw0hJXSDTT1Rp4rhf3WTSgaDyKDhADxTpFtbmZIi1bgRu5vJQQJ99BHACAAAAAtycUFAAASAZDOcRXt
                        
always-auth=true