<lib-header [breadcrumbList]="[ 'Demonstração', 'Componentes' ]" pageTitle="Demonstração de componentes" />

<div class="content">
  <div class="filters">
    
    <lib-container [tabs]="[ 'Combobox' ]" [useBorder]="true" >
      <div innerContent1 style="height: 90vh;">
        <div class="d-flex gap-2 mb-5">
          <input type="text" class="form-control" placeholder="Informe aqui o valor customizado" [(ngModel)]="valorCustomizado" (keyup.enter)="setExternalValue(valorCustomizado ?? '')" >
          <button class="btn btn-primary" (click)="setExternalValue(valorCustomizado ?? '')" >DEFINIR</button>
        </div>

        <form [formGroup]="form">
          <div class="row">
            <div class="col-6">
              <label class="form-label" libRequired>Pokemons (lib-combobox-rework)</label>
              <lib-combobox-rework [list]="pokemonsCombobox" formControlName="pokemon" (selectionChange)="log($event)" >
                <!-- <ng-template #optionTemplate let-item let-selected="selected">
                  <div class="d-flex align-items-center justify-content-between option w-100" [ngClass]="{ 'active fw-bold text-primary': selected }" >
                    <div class="flex-grow-1">
                      <b>{{ item.name }}</b>{{ item.url }}
                    </div>
                  </div>
                </ng-template> -->
              </lib-combobox-rework>
            </div>
  
            <div class="col-6">
              <lib-combobox labelText="Pokemons (lib-combobox)" [list]="pokemonsCombobox" [control]="form.controls['pokemon']" mainPlaceholder="Selecione um Pokemón" />
            </div>
          </div>
        </form>
      </div>
    </lib-container>

  </div>
</div>