<div class="content">
  <div class="filters">
    
    <lib-container [tabs]="[ 'Primeiro', 'Segundo', 'Ícones' ]" [currentTab]="'Ícones'" [useBorder]="true" >
      <div innerContent1 class="row">
        <div class="col-6">
          <label class="form-label" libRequired >Opções disponíveis</label>
          <lib-combobox-rework [multiple]="true" [list]="items" [formControl]="control" customLabel="surname" customValue="name" (selectionChange)="log($event)" />
  
          <lib-error-message [control]="control" ></lib-error-message>
        </div>
  
        <div class="col-6">
          <lib-combobox labelText="Valores teste" [list]="combobox" [control]="control"  />
        </div>
      </div>

      <div innerContent2>
        <div class="d-flex gap-3">
          <lib-dynamic-input [typeInput]="'decimal'" [qtDecimais]="2" (updateCoCarac)="log($event)">
            <ng-template #leftAddon>
              <button class="btn btn-outline-primary" type="button" id="button-addon1">Button</button>
            </ng-template>

            <ng-template #rightAddon>
              <span class="input-group-text" id="basic-addon1">R$</span>
            </ng-template>
          </lib-dynamic-input>
        </div>
      </div>

      <div innerContent3>
        <div class="d-flex justify-content-evenly gap-3">
          <div class="text-center">
            <p>g-folha-dupla-engrenagem</p>
            <lib-icon iconName="g-folha-dupla-engrenagem" [iconSize]="42" />
          </div>
          <div class="text-center">
            <p>g-folha-docx-2</p>
            <lib-icon iconName="g-folha-docx-2" [iconSize]="42" />
          </div>
          <div class="text-center">
            <p>g-pasta-seta-cima</p>
            <lib-icon iconName="g-pasta-seta-cima" [iconSize]="42" />
          </div>
          <div class="text-center">
            <p>p-lista-relogio</p>
            <lib-icon iconName="p-lista-relogio" [iconSize]="42" />
          </div>
        </div>
      </div>
    </lib-container>

  </div>
</div>