name: Continuous Deploy - Revisão de código e testes + Publicação

on:
  push:
    branches:
      - main
      - next
      - test

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
        
      - name: Instalar dependências
        run: npm i

      - name: Ler release-info.json
        id: release
        run: |
          PROJECT=$(jq -r '.project' deploy/release-info.json)
          VERSION=$(jq -r '.version' deploy/release-info.json)
          NOTES=$(jq -r '.notes' deploy/release-info.json)
          TAG=$(jq -r '.tag' deploy/release-info.json)
          echo "PROJECT=$PROJECT" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "NOTES=$NOTES" >> $GITHUB_ENV
          echo "TAG=$TAG" >> $GITHUB_ENV
        
      - name: Executar testes com cobertura
        run: |
          if [ "${{ env.PROJECT }}" == "ngx-sp-infra" ]; then
            npm run test:ngx-sp-infra:sonar
          fi

      - name: Análise com SonarCloud
        uses: sonarsource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


  deploy-package:
    needs: run-unit-tests  # Garantia que o job de deploy (CD) só execute após os testes (CI)
    if: ${{ success() }}  # Executa apenas se o job anterior for bem-sucedido
    
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        registry-url: 'https://registry.npmjs.org'

    - name: Ler release-info.json
      id: release
      run: |
        PROJECT=$(jq -r '.project' deploy/release-info.json)
        VERSION=$(jq -r '.version' deploy/release-info.json)
        NOTES=$(jq -r '.notes' deploy/release-info.json)
        TAG=$(jq -r '.tag' deploy/release-info.json)
        echo "PROJECT=$PROJECT" >> $GITHUB_ENV
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "NOTES=$NOTES" >> $GITHUB_ENV
        echo "TAG=$TAG" >> $GITHUB_ENV

    - name: Definir variável de publicação
      id: changes
      run: echo "should_publish=true" >> $GITHUB_ENV

    - name: Atualizar npm para versão mais recente
      run: npm install -g npm@latest

    - name: Install dependencies
      if: env.should_publish == 'true'
      run: npm install

    - name: Build the library and add tags
      if: env.should_publish == 'true'
      run: |
        if [ "${{ env.PROJECT }}" == "ngx-sp-auth" ]; then
          cd projects/ngx-sp-auth
          npm i

          cd ../../
          npm run build:ngx-sp-auth:prod

        elif [ "${{ env.PROJECT }}" == "ngx-sp-views" ]; then
          cd projects/ngx-sp-views
          npm i

          cd ../../
          npm run build:ngx-sp-views:prod

        elif [ "${{ env.PROJECT }}" == "ngx-sp-infra" ]; then
          npm run build:ngx-sp-infra:prod
        fi

    - name: Publish to NPM
      if: env.should_publish == 'true'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH }}
      run: |
        cd dist/${{ env.PROJECT }}
        
        if [ "${{ github.ref }}" == "refs/heads/main" ]; then
          npm publish --access public --tag latest
        elif [ "${{ github.ref }}" == "refs/heads/test" ]; then
          npm publish --access public --tag test
        elif [ "${{ github.ref }}" == "refs/heads/next" ]; then
          npm publish --access public --tag next
        elif [ "${{ github.ref }}" == "refs/heads/fixes" ]; then
          npm publish --access public --tag fix
        fi


    - name: Criar Release automático
      uses: softprops/action-gh-release@v2
      if: env.should_publish == 'true'
      with:
        release_name: ${{ env.PROJECT }} v${{ env.VERSION }}
        tag_name: ${{ env.TAG }}
        body: |
          ## O que mudou?

          ${{ env.NOTES }}
        token: ${{ secrets.GITHUB_TOKEN }}

    # - name: Criar Release automático
    #   if: env.should_publish == 'true'
    #   uses: actions/create-release@v1
    #   with:
    #     tag_name: ${{ env.TAG }}
    #     release_name: ${{ env.PROJECT }} v${{ env.VERSION }}
    #     body: |
    #       ## O que mudou?

    #       ${{ env.NOTES }}
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
